
    <footer class="site-footer">
      <div class="footer-center">
        <a href="privacy">Privacy</a> | <a href="terms">Terms &amp; Conditions</a> | <a href="mailto:{{ site.email }}">Contact</a>
        <br />
        Copyright &copy; {{ site.author }} 2021</div>
    </footer>
  </main>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
    integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>

</html>
