<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% if page.title %}{{ page.title }} :: {{ site.title }}{% elsif post.title %}{{ post.title }} ::
    {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{{ '/css/styles.css' | relative_url }}?v={{ site.time | date:'%s' }}">

  <link rel="icon" sizes="32x32" href="{{ '/assets/images/app-icon-32.png' | relative_url }}">
  <link rel="icon" sizes="192x192" href="{{ '/assets/images/app-icon-192.png' | relative_url }}">

  <meta property="og:title" content="{% if page.title %}{{ page.title }} :: {{ site.title }}{% elsif post.title %}{{ post.title }} ::
  {{ site.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta property="og:image" content="https://tellthetime.adam-young.co.uk/assets/images/app-icon-512.png">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }} :: {{ site.title }}{% elsif post.title %}{{ post.title }} ::
  {{ site.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
  <meta name="twitter:image" content="https://tellthetime.adam-young.co.uk/assets/images/app-icon-512.png">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
</head>

<body>
